.chameleon{
    display: inline-block;
    color: white;
    border: 2px solid #333;
    border-radius: 6px;
    font-size: xx-large;
    cursor: pointer;
    padding: 12px 24px;
}

.chameleon-animation{
    color: red;
    transition: color 2s;
}
.chameleon-animation:hover{
    color: blue;
    transition: color 2s;
}

.blink {
    animation: blink 1s linear infinite 2s alternate-reverse;
    @keyframes blink {
        100% {
            opacity: 0;
        }
    }
}

/* TODO: write your code here */


/* Coin Sample Starter */
.coin{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-weight: 700;
    font-size: xx-large;
    background: seagreen;
    color: white;
}

.coin-animation {
    animation: coin-animation 10s infinite;
}
