* {
    margin: 0;
    padding: 0;
}

#collapse, #callback-chat, #liker {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 800px;
    height: 280px;
    margin-top: 20px;
    border: 1px solid black;
}

/* Collapse */

.col-btn {
    margin-top: 10px;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 110px;
    height: 30px;
    background-color: rgb(0, 102, 255);
    color: white;
}

.col-btn:hover {
    background-color: rgb(0, 69, 173);
}

.col-btn:focus {
    border: 3px solid rgb(98, 147, 221);
}

.col-div {
    padding: 10px;
}

.col-p {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
}

/* Callback chat */

.call-form {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

.call-form-header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.call-form-title {

}

.call-form-close {

}

.call-form-textarea {
    height: inherit;
    margin: 15px 4px 15px 4px;
    resize: none;
}

.call-form-btn {
    margin: auto auto 15px;
}

.call-btn {
    background-color: red;
    width: 40px;
    height: 40px;
    margin: auto;
    border: 0;
    border-radius: 21px;
    box-shadow: 0 3px 3px #dbb4b4;
}

.call-btn:hover {
    width: 60px;
    height: 60px;
    border-radius: 31px;
}

/* Liker */

.lik-btn {
    margin: 200px auto 20px auto;
    color: white;
    background-color: rgb(255, 56, 56);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 110px;
    height: 30px;
}
